nav {
    
    background-color: white;
    color: blue;
    display: flex;
    justify-content: center;
    padding: 10px;
}



header {
    grid-area: filtro;
    background-color: orangered;

    color:white;
    font-weight: bold   ;
    
}

aside {
    grid-area:lado;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    color:white;
    background-color: crimson;
;
    
}

main {
    grid-area:principal;
    background-color: darkorange;
    
}
footer {
    grid-area: pie;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width:576px) {
    body {
        display:grid;
        grid-template-areas: 
        
        'lado filtro'
        'lado principal'
        'lado pie';
        grid-template-columns: 0.5fr 2.5fr;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width:576px) {
    footer {
        grid-area: pie;
        background-color: orangered;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
@media (min-width:576px) {
    aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white; 
}
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
}


@media (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .card {
        display: none !important; 
    }
}
    @media (max-width: 576px) {
    .card:first-of-type {
        display: block !important; 
    }
}

.card {
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    filter: grayscale(100%);
    transition: filter 2s ease-in-out;
    transition: transform 2s ease-in-out;
    }
    @keyframes rotateBox {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .card:hover {
        filter: grayscale(0%);
        animation: rotateBox 1s ease-in-out;
        
    }

    .card h3 {
        font-size: 1.5em;
        color: darkorange;
        text-align: center;
    }
    
      
    